version: "3"

services:
  db:
    image: postgres:14.3
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    container_name: teslodb
    volumes:
      - ./postgres:/var/lib/postgresql/data